<h1>{{registration_title}}</h1>
<h3>{{success_message}}</h3>
<form>
    <div class="form-group">
      <label for="firstname">*First Name</label>
      <input 
        type="text" 
        name="firstname"
        [(ngModel)]="user.firstname"
        #firstname="ngModel"
        required
      />
      <small class="form-text text-muted error" *ngIf='!firstname.valid'>First name is required.</small>
    </div>
    <div class="form-group">
      <label for="lastname">*Last Name</label>
      <input 
        type="text" 
        name="lastname"
        [(ngModel)]="user.lastname"
        #lastname="ngModel"
        required
      />
      <small class="form-text text-muted error" *ngIf='!lastname.valid'>Last name is required.</small>
    </div>
    <div class="form-group">
      <label for="password">*Password</label>
      <input 
        type="password" 
        name="password"
        [(ngModel)]="user.password"
        #password="ngModel"
        required
        minlength = "16"
      />
      <small class="form-text text-muted error" *ngIf='!password.valid'>Password must be at least 16 characters long.</small>
    </div>
    <div class="form-group">  
      <label for="confirmPassword">*Confirm Password</label>
      <input 
        type="password" 
        name="confirmPassword"
        minlength="16"
        [(ngModel)]="user.confirm_password"
        #confirmPassword="ngModel"
        required
      />
      <small class="form-text text-muted error" *ngIf='!confirmPassword.valid'>Password confirmation must match the password.</small>
    </div>
    <div class="form-group">
      <label for="streetAddress">Street Address</label>
      <input 
        type="text" 
        name="streetAddress"
        minlength="16"
        [(ngModel)]="user.street_address"
        #streetAddress="ngModel"
        required
      />
      <small class="form-text text-muted error" *ngIf='!streetAddress.valid'>Address is required.</small>
    </div>  
    <div class="form-group">
      <label for="unit">Unit/Apt#</label>
      <input 
        type="text" 
        name="unit"
        [(ngModel)]="user.unit"
        #unit="ngModel"
      />
    </div>
    <div class="form-group">
      <label for="city">City</label>
      <input 
        type="text" 
        name="unit"
        [(ngModel)]="user.city"
        #city="ngModel"
        required
      />
      <small class="form-text text-muted error" *ngIf='!city.valid'>City is required.</small>
    </div>
    <div class="form-group">
      <label for="state">State</label>
      <select name="state" [(ngModel)] = "user.state" #state="ngModel" required>
        <option>CA</option>
        <option>NC</option>
        <option>NY</option>
        <option>WA</option>
      </select>
      <small class="form-text text-muted error" *ngIf='!state.valid'>State is required.</small>
    </div>
    <div class="form-group">
      <label for="lucky">Are you feeling lucky?</label>
      <input 
        type="radio" 
        name="lucky" 
        value="yes"
      />Yes
        <input 
        type="radio" 
        name="lucky" 
        value="no"
      />No
      <!-- <small class="form-text text-muted error" *ngIf='!street-address.valid'>Address is required.</small> -->
    </div>
    <div class="form-group">
        <button (click) = "onSubmit()">Register</button>
    </div>
  </form>
  